@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev::before,
.slick-next::before
{
    font-family: 'slick';
    font-size: 54px;
    line-height: 1;
    position: absolute;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: 0;
    left: -2px;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next::before
{
    content: '→';
}
[dir='rtl'] .slick-next::before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

/******edid*******/

button.slick-prev.slick-arrow {
    position: absolute;
    z-index: 99999;
    background: #fff;
    padding: 25px;
    border-radius: 100%;
    left: -150px;
    transition: all 1s ease;
}
section.lazy.slider.slick-initialized.slick-slider:hover button.slick-prev.slick-arrow{
    left: 30px;
}
button.slick-next.slick-arrow {
    position: absolute;
    background: #fff;
    z-index: 99999;
    padding: 25px;
    border-radius: 100%;
    display: none;
    right: -200px;
    transition: all 1s ease;
}

section.lazy.slider.slick-initialized.slick-slider:hover button.slick-next.slick-arrow {
    right: 30px;
}


button.slick-prev.slick-arrow {
    position: absolute;
    z-index: 99999;
    background: #fff;
    padding: 25px;
    border-radius: 100%;
    left: -150px;
    transition: all 1s ease;
}
section.lazy.slider.slick-initialized.slick-slider:hover button.slick-prev.slick-arrow{
    left: 30px;
}
button.slick-next.slick-arrow {
    position: absolute;
    background: #fff;
    z-index: 99999;
    padding: 25px;
    border-radius: 100%;
    right: -200px;
    display: none;
    transition: all 1s ease;
}

section.lazy.slider.slick-initialized.slick-slider:hover button.slick-next.slick-arrow {
    right: 30px;
}

.conteiner {
    width: 1140px;
    margin: auto;
}
h1 {
    color: #fff;
    font-size: 38px;
    width: 400px;
    text-align: left;
    position: absolute;
    top: 150px;
}
p.animate__animated.animate__fadeInUp {
    color: #fff;
    width: 300px;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
    position: absolute;
    bottom: 490px;
    line-height: 35px;
    width: 600px;
}

button {
    position: relative;
    bottom: 150px;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 700;
    background: #df9101d9;
    outline: none;
    border: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #2f2e2e;
    margin-right: 15px;
    top: -400px;
    transition: all 1s ease;
}
button:hover {
    background: #030347cc;
    color: #ffffff;
    cursor: pointer;
    border-color: orange;
}